
data/raw/istat

notebooks/preprocessing/\.ipynb_checkpoints/

references/__pycache__/

src/__pycache__/

src/models/__pycache__/

notebooks/\.ipynb_checkpoints/

# dependencies
src/visualization/node_modules

# misc
.DS_Store
*~
src/visualization/README.txt

#ignore shapefiles
*.prj
*.sbn
*.shx
*.sbx
*.shp
*.dbf
*.xml
\.idea/

*.pickle

src/visualization/package-lock\.json

data/raw/tpl/torino/piemonte_it\.zip

data/raw/tpl/milano/Export_OpenDataTPL_Current\.zip

data/interim/

data/raw/cultura/

data/raw/health/

data/raw/tpl/roma/

data/raw/Roma_specific/

data/raw/tpl/firenze/ataf\.gtfs
