.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 40px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

rect.overlay {
    opacity: 0;
}

rect.selection {
    fill: #FE9922;
    opacity: 0.5;
}

rect.handle {
    fill: #FE9922;
    opacity: 0.25;
}
    
a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    text-align: left;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: relative;
    top: 13px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 400px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuLi{
    padding-left: 20px;
    padding-bottom: 4px;
    font-size: 19px;
}

#menuLiBold{
    color: black;
    font-weight: bold;
    font-size: 22px;
}

ul {
    text-align: left;
    padding: 0;
    list-style-type: none;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.BarChart {
    display: block;
}

button {
    background-color: black;
    border: 2px solid grey;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
}

.menuList {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 50px;
    text-align: left;
}
    
.map-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    font-family: Arial, sans-serif;
    border-radius: 8px;
    height: 950px;
    width: 370px;
    top: 80px;
    left: 10px;
    font-size: 18px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 15px;
    text-align: justify;
}

.legend-overlay {
    position: absolute;
    background: none;
    font-family: Arial, sans-serif;
    height: 70px;
    width: 300px;
    left: 500px;
    bottom: 0px;
}

.dataSource {
    font-size: 11px;
}

.dashboard-overlay {
    position: absolute;
    background: rgba(225, 225, 225, 0.8);
    overflow: auto;
    border-radius: 8px;
}

#mapContainer {
    height: 90vh;
    width: 100vw;
}

#dashboard-start {
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    width: 200px;
    height: 50px;
    top: 300px;
    right: 70px;
    text-align: middle;
}

#dashboard {
    padding-left: 20px;
    padding-top: 0px;
    height: 450px;
    width: 450px;
    top: 90px;
    right: 30px;
    font-size: 18px;
}

#dashboardSvg {
    display: block;
}
