* {
    font-family: Arial;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 40px;
    width: 1400px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

rect.overlay {
    opacity: 0;
}

rect.selection {
    fill: #FE9922;
    opacity: 0.5;
}

rect.handle {
    fill: #FE9922;
    opacity: 0.25;
}

.fa .fa-info-circle {
    float: left;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    text-align: left;
}

a:hover {
    color: tomato;
}

.BarChart {
    height: 85vh;
    width: 300px;
    display: block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
/*    display: inline-block; */
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.menuList {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 50px;
    text-align: left;
}

.info-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 100, 1);
    border-radius: 8px;
    height: 85vh;
    width: 300px;
    top: 80px;
    font-size: 18px;
    overflow: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
    text-align: justify;
}

.map-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    height: 85vh;
    width: 300px;
    top: 80px;
    left: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 15px;
    text-align: justify;
}

.legend-overlay {
    position: absolute;
    background: none;
    height: 70px;
    width: 300px;
    left: 500px;
    bottom: 0px;
}

.dataSource {
    font-size: 11px;
}

.dashboard-overlay {
    position: absolute;
    background: rgba(225, 225, 225, 0.8);
    overflow: auto;
    border-radius: 8px;
}

#mapContainer {
    height: 90vh;
    width: 100vw;
}

#dashboard-start {
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    width: 200px;
    height: 50px;
    top: 300px;
    right: 70px;
    text-align: middle;
}

#dashboard {
    padding-left: 20px;
    padding-top: 0px;
    height: 450px;
    width: 450px;
    top: 90px;
    right: 30px;
    font-size: 18px;
}

#dashboardSvg {
    display: block;
}
